<html>
    <head>
        <title>COVID19</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/covid19.css') }}">
    </head>
    <style>
    body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
    
    }

 
    </style>
    <body>
        <h1>{{ title }}</h1>
        <div class="container">
            <table>
                <tr>
                    <td width=50%>
        <script>
        document.write("<h2>CASES:</h2>")
        document.write("<h2>&nbsp;&nbsp;&nbsp;Predicted: {{ jsonfile.PredictedCases }} cases on {{ jsonfile.CasesPredictionDate }}</h2>");
        </script>
                    </td>
                    <td>
                        <img src='/static/styles/CovidTransparent.jpg'>
                    </td>
                </tr>
            </table>
        </div>
    
        <h3>Data is from the Covid19NYT data set hosted by Google Big Query</h3>
        <h3>The original dataset includes data up to '2023-03-23'. </h3>
        <h3>Predictions were made with a Google Cloud ARIMA model with a confidence rate of 0.8</h3>
        <h4>Mingming Gu - MSDS 434
    </body>
</html>
