<html>
    <head>
        <title>COVID19</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/covid19.css') }}">
    </head>
    <style>
    body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
    
    }

 
    </style>
    <body>
        <h1>{{ title }}</h1>
        <!-- <h3>Numbers are for all of the United States and territories (Guam, Northern Mariana Islands, Puerto Rico, and Virgin Islands)</h3>
        <h3>Numbers represent the daily count for the date specified</h3><br> -->
        <!--<p><a href="/predict">Predict</a></p>-->
        <!--<p><a href="/about">About</a></p>-->
        <!--<p><a href="/">Home</a></p>-->
        <div class="container">
            <table>
                <tr>
                    <td width=50%>
        <script>
        document.write("<h2>CASES:</h2>")
        // document.write("<h2>&nbsp;&nbsp;&nbsp;Current: {{ jsonfile.MostRecentCasesCount }} cases on {{ jsonfile.CasesDate }}</h2>");
        document.write("<h2>&nbsp;&nbsp;&nbsp;Predicted: {{ jsonfile.PredictedCases }} cases on {{ jsonfile.CasesPredictionDate }}</h2>");
        </script>
                    </td>
                    <td>
                        <img src='/static/styles/CovidTransparent.jpg'>
                    </td>
                </tr>
            </table>
        </div>
    
        <h3>Data is from the Covid19NYT data set hosted by Google Big Query</h3>
        <h3>Predictions were made with a Google Cloud ARIMA model with a confidence rate of 0.8</h3>
        <h4>Mingming Gu - MSDS 434
    </body>
</html>
