<html>
    <head>
        <title>Movie Review Text Sentiment Classification App</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/moviereview.css') }}">
    </head>
    <style>
    body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
    
    }

 
    </style>
    <body>
        <h1>{{ title }}</h1>
        <div class="container">
            <table>
                <tr>
                    <td width=50%>
        <script>
        document.write("<h2>Result:</h2>")
        document.write("<h2>&nbsp;&nbsp;&nbsp;Predicted: {{ jsonfile.PredictedSentimentCategory }} </h2>");
        </script>
                    </td>
                    <td>
                        <img src='/static/styles/moviereview.png'>
                    </td>
                </tr>
            </table>
        </div>
    
        <h3>Data is from Kaggle IMDB Dataset of 50K Movie Reviews </h3>
        <h3>The original dataset link is https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews/data </h3>
        <h3>Prediction was made with a logistic regression model with Google Cloud BigQueary ML </h3>
        <h4>Mingming Gu - MSDS 434
    </body>
</html>
